params {
    config_profile_name        = 'AS Google Batch profile'
    config_profile_description = 'AS Google Batch Configuration'

    fasta               = 'gs://pmodalpha/rnavar-data/genome-files/genome.fa'
    gtf                 = 'gs://pmodalpha/rnavar-data/genome-files/genes.gtf'

    dbsnp           = 'gs://pmodalpha/rnavar-data/genome-files/dbsnp_146.hg38.vcf.gz'
    dbsnp_tbi     = 'gs://pmodalpha/rnavar-data/genome-files/dbsnp_146.hg38.vcf.gz.tbi'




}

//workDir = 'gs://pmodalpha/workdir3'

// Set processes to run with gb
process {

withLabel: 'star_genomeGenerate' {
        memory = '130 GB'
        cpus = 24
    }

   executor = 'google-batch'
    // Avoid GATK4_BEDTOINTERVALLIST error:
    // picard.PicardException: Sequence 'chr10_GL383545v1_alt' was not found in the sequence dictionary
    withName:  'NFCORE_RNAVAR:RNAVAR:GATK4_BEDTOINTERVALLIST' {
        ext.args = '--DROP_MISSING_CONTIGS TRUE'
    }
}


